.sidebarContainer{
    border:1px solid #ddd;
    width: 250px;
}

.sidebarHeader{
    padding: 1rem;
    background: #F4F4F4;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.sidebarContent{
    margin: 0.8rem;
    padding: 10px 10px;
    border-bottom: 1px solid #efefef;
    color: #555;
    cursor: pointer;
    font-size: 14px;
    
}

.sidebarContent:hover{
    background: #0088C7;
    color: #fff;
}
