*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding:5px 100px;
}

.text-primary{
  font-size: 0.8rem;
  color: rgba(255,255,255,0.8)

}

.text-big{
  font-size: 1.2rem;
  color:#fff;
}

.uppercase{
  text-transform: uppercase
}